footer {
    display: flex;
    width: 100%;
    margin: 0;
    bottom: 0;
    left:0;
    right:0;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: center;
    text-decoration: none;
}